name: Scrape 324 Ramal 5/6
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        
    - name: Install dependencies
      run: pip install requests
      
    - name: Create data & scrape
      run: |
        mkdir -p data
        python scraper.py
        
    - name: Commit CSV
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: 'Update 324 ramal56 Calle 622'
        file_pattern: data/*
